[all:vars]
ansible_ssh_private_key_file=devops_aws.pem
ansible_user=ubuntu
ansible_ssh_common_args='-o StrictHostKeyChecking=no'

[maven]
${maven-dns} ansible_host=${maven-ip} 

[tomcat]
${tomcat-dns} ansible_host=${tomcat-ip}